*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}
*::-webkit-scrollbar { 
	width: 0; 
}
html, body {
	height:100%;
	/*background-image: url("../images/tmc1.jpg");*/
	background-color:rgba(0,0,0,0);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	z-index:-2;
}
.parallax {
    /* The image used */
	width: auto;
	height:auto;
    /* Set a specific height */
	min-width: 100%;
	min-height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	z-index:-1;
}
.parallax-img { 
    /* The image used */
    background-image: url("../images/tmc1.jpg");
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	z-index:-1;
}
.nottransparent {
	background-color:rgba(0,0,0,1);
	color:rgba(255,255,255);
}
.transparent {
	background-color:rgba(0,0,0,.80);
	color:rgba(255,255,255);
}

.clear {
	background-color:rgba(0,0,0,0);
	color:rgba(255,255,255);
}
/*video {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
margin-top: 98px;
transform: translateX(-50%) translateY(-50%);
}*/
a:hover { 
	color:black;
	background-color:rgba(100,100,100,1);
}
h1, h2, h3, h4, h5, h6 {
	color:rgba(255,255,255,1);
}
table {
	color:rgba(255,255,255,1);
}
a {
	color:rgba(255,255,255,1);
}
.messages {
	color:rgba(255,255,255,1);
	width:100%;
}
.editinput {
	font-size:16px;
	width:100%;
}
.text-orange {
	color: rgb(243, 156, 18);
}
.text-orange2 {
	color: #21618C;
}
.super-secret-link{
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	animation: pulse 4s linear infinite alternate;
}
.secret-icon{
	animation: rotate-icon 4s linear infinite alternate;
}
@keyframes pulse {
    0%, 100% {
        color: white;
    }
    50% {
        color: red;
    }
}
@keyframes rotate-icon{
    0% {
       transform: rotateY(0deg);
    }

   50% {
        transform: rotateY(160deg);
    }
    100% {
        transform: rotateY(320deg);
    }
}

